.login-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1.2fr;
  justify-content: center;
  /* align-items: center; */
  overflow: hidden;
}

.authpage-ctn-left {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-box {
  width: 45rem;
  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authpage-ctn-right {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

/* .video-overlay {
    height: 100%;
    width: 100%;
    grid-column: 1;
    background-color: rgba(255, 255, 255, 0.33);
    z-index: 5;
    backdrop-filter: blur(6px);
} */

.authpage-video {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  object-fit: cover;
  /* position: absolute; */
  grid-column: 1;
  z-index: -10;
}

@media (max-width: 920px) {
  .login-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .login-form-box {
    /* background-color: rgba(255, 255, 255, 0.15); */
    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.33),
      rgba(248, 248, 248, 1)
    );
    backdrop-filter: blur(6px) saturate(180%);
    z-index: 10;
    width: 100%;
    height: 100%;
    /* border-radius: 1rem; */
    /* border: 1px solid rgba(255, 255, 255, 0.75); */
  }
  
  /* .video-overlay {
    display: none;
  } */

  .authpage-ctn-right {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
